# Virtual environment
venv/

# Environment variables 
.env

# Database of user data
data/*.db

# Python cache
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# Streamlit cache
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
